spring:
  application:
    name: ai-gateway

  cloud:
    nacos:
      config:
        server-addr: 127.0.0.1:8848
      discovery:
        server-addr: 127.0.0.1:8848
    gateway:

      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origins:
              - "http://localhost:3000"
              - "http://localhost:3001"

            allowed-methods: "*"
            allowed-headers: "*"
            allow-credentials: true
            max-age: 3600

      routes:
        - id: asr-route
          uri: lb://ai-asr
          predicates:
            - Path=/asr/**
          filters:
            - StripPrefix=1
        - id: ai-route
          uri: lb://ai-langchain4j
          predicates:
            - Path=/ai/**
          filters:
            - StripPrefix=1

  config:
    import:
      - nacos:ai-gateway.yml

server:
  port: 7432
